// **************************************************************************************** //
// V-BAR - LUIGUI DELYER | FRONT-END DEV @ WEBRADAR - NEW PRODUCTS, RESEARCH AND INNOVATION //
// GITHUB = https://github.com/luiguild/v-bar.git                                           //
// SPECIFIC PARTS OF THE CSS CONTENT ARE INSIDE THE COMPONENTS                              //
// **************************************************************************************** //

/////////////
// IMPORTS //
/////////////
// BASIC MIXINS
@import "./imports/_mixins.scss";

// COLOR PALETTE
@import "./imports/_color-palette.scss";
