$color1: rgba(31, 36, 33, 1);
$color2: rgba(33, 104, 105, 1);
$color3: rgba(73, 160, 120, 1);
$color4: rgba(156, 197, 161, 1);
$color5: rgba(220, 225, 222, 1);

$black: rgba(0, 0, 0, 1);
$black1: #282727;
$black2: rgba(0, 0, 0, .5);
$black3: rgba(0, 0, 0, .3);
$black4: rgba(0, 0, 0, .1);
$black5: rgba(0, 0, 0, .05);

$grey: #a29c9b;
$grey1: #efeded;
$grey2: #fcfcfc;

$white: #FFF;

$transparent: rgba(255, 255, 255, 0);
